@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
html {
	font-family: Inter, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 0;
	background: rgb(14, 200, 215);
	background: linear-gradient(25deg, rgb(61, 87, 208, 1) 0%, rgb(14, 200, 215) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: black;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}

section section {
	border-left: 0.5px solid rgba(0, 0, 0, 0.25);
	border-top: 0.5px solid rgba(0, 0, 0, 0.25);
}

header, section, footer {
	background: #FEFEFE;
	border-radius: 5px;
	background-clip: padding-box;
	border-right: 3px solid rgba(0, 0, 0, 0.25);
	border-bottom: 3px solid rgba(0, 0, 0, 0.25);
	padding: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 8.5in;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

:link, :visited {
	color: #15F;
	text-decoration: underline;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
}

/******************************************************************************/

header h1 :link, header h1 :visited {
	color: black;
	text-decoration: none;
}

h1.inline {
	display: inline-block;
	margin-right: 1.25rem;
	margin-bottom: 0;
}

ul.inline {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.inline li {
	display: inline-block;
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 0;
}

nav li :link, nav li :visited {
	color: white;
	background: #15F;
	border-radius: 5px;
	text-decoration: none;
	padding: 0.25em 0.4em;
	font-weight: bold;
	vertical-align: 0.25em;
}

/******************************************************************************/

.box {
	border: 1px solid #444;
	display: inline-block;
	padding: 0.125em;
}

.bubble {
	border: 1px solid #444;
	border-radius: 0.7em;
	padding: 0.25em;
	margin: 0.05em;
	display: inline-block;
}

figure.inline {
	display: inline-block;
	font-size: 90%;
	padding: 1em;
	border: 1px dashed #A1A1A1;
}

ol.tree, ol.tree ol {
	list-style-type: lower-roman;
	padding: 0;
	padding-left: 2em;
}

ol.tree>li {
	list-style-type: none;
}

/******************************************************************************/

#codeblocks {
	top: 8rem;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	overflow: hidden;
	z-index: -100;
}

#codeblocks .line {
	height: 16px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#codeblocks span {
	display: inline-block;
	color: transparent;
	overflow: hidden;
	height: 15px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	margin-right: 1px;
}

#codeblocks span.space {
	visibility: hidden;
}
