/* todo: pick my own colors. These are from Atom's One Dark theme */
body {
	background: #EEE;
	margin: 0;
	padding: 0;
	color: #444;
	font-family: "Verdana";
	position: relative;
	z-index: 0;
}

#codeblocks {
	top: -40px;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	overflow: hidden;
	bottom: -40px;
	z-index: -100;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

section, footer {
	max-width: 7.5in;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 0;
	background: rgba(255, 255, 255, 0.875);
	padding: 32px;
	border-radius: 3px;
	border: 1px solid #BBB;
	box-shadow: 0 8px 30px -12px #888;
}

footer {
	margin-bottom: 32px;
}

p {
	margin: 0;
	margin-top: 8px;
	padding: 0;
	text-align: justify;
}

ul, li {
	margin: 0;
	margin-top: 8px;
	margin-left: 1em;
	padding: 0;
}

table {
	border: 1px solid #444;
	padding: 0.25em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

td {
	padding: 0.25em;
}

:link, :visited {
	color: #4879DB;
	font-weight: bold;
	text-decoration: none;
}

:link:hover {
	text-decoration: underline;
}

/******************************************************************************/
.box {
	border: 1px solid #444;
	display: inline-block;
	padding: 0.125em;
}

.bubble {
	border: 1px solid #444;
	border-radius: 0.7em;
	padding: 0.25em;
	margin: 0.05em;
	display: inline-block;
}

figure.inline {
	display: inline-block;
	font-size: 90%;
	padding: 1em;
	border: 1px dashed #A1A1A1;
}

ol.tree, ol.tree ol {
	list-style-type: lower-roman;
	padding: 0;
	padding-left: 2em;
}
ol.tree > li {
	list-style-type: none;
}

/******************************************************************************/
#codeblocks .line {
	height: 16px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#codeblocks span {
	display: inline-block;
	color: transparent;
	overflow: hidden;
	height: 15px;
}

.number {
	background: #DDE1C8;
}

.name {
	background: #C8D5EA;
}

.bracket {
	background: #EAC8D5;
}

.operator {
	background: #C8E6D5;
}

.value {
	background: #D5BBC4;
}

.keyword {
	background: #D9C8BB;
}