---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<div class="bg">
	<div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;">
	</div>
</div>

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="http://github.com/curtisfenner">GitHub</HeaderLink
			>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>
	</nav>
</header>
