---
import type { CollectionEntry } from "astro:content";
import PageLayout from "../components/PageLayout.astro";
import { postIsDraft } from "../utils.js";

type Props = CollectionEntry<"blog">["data"];

const { title, description, published } = Astro.props;
const isDraft = postIsDraft({ data: Astro.props });
---

<PageLayout title={title} description={description}>
	<article>
		<section>
			<div class="title">
				<h1 class={isDraft ? "draft" : ""}>{title}</h1>
				<div class="date">{published}</div>
				<hr />
			</div>
			<slot />
		</section>
	</article>
</PageLayout>
